# COPY THIS FILE -> INCLUDE ENVIRONMENT VARIABLES IN THIS FILE IF NECESSARY 
# ON PRODUCTION YOU MUST ADD THE SAME ENVS VARS ON HEROKU SECRETS

# Check the GITHUB.md to learn how to create OAuth apps with Github and implement the new app

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITLAB_CLIENT_ID=2f725e88d1f7a16946e682aa02d257bed58c1a93894a1f013069dde9ca165bf4
GITLAB_CLIENT_SECRET=gloas-b9008e3aaeaed21d9f312bb1024c14d8d3ac57855629f00daf0c0282d4b9d2b9
