/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_file application.tailwind.css
 *= require_self
 */

#menu {
	background: #405C7C;
	padding-left: 18px;
	border-radius: 0;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
	text-align: left;
}

#menu li {
	display: inline-block;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}

#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

@media screen and (max-width: 800px){
	#menu {position:relative; background: #444444; height: 45px;}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

#file-breadcrumb {
  font-size: 12px;
  color: #FFFFFF;
}

.homepage-section {
  background-color: #0804fc;
}

.cke_notifications_area{
    display: none !important;
}

.upload_repo_zip {
    margin-top: -30px;
    position: relative;
}


#zip-upload-field {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 18px;
}

@media(max-width:1365px){
    h2.text-white.text-5xl.font-mono.text-balance.max-w-4xl.mx-auto , .relative.container.mx-auto.px-4.text-center.text-white.py-16.rounded-3xl>h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto{
        max-width: 450px;
    
    }
    section.relative.block:nth-of-type(1) h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto.text-balance {
        max-width: 960px !important;
        font-size: 40px !important;
    }
    }
    
    @media(max-width:991px){
    h2.text-white.text-5xl.font-mono.text-balance.max-w-4xl.mx-auto , .relative.container.mx-auto.px-4.text-center.text-white.py-16.rounded-3xl>h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto{
        max-width: 330px;
        font-size: 35px;
    }
    section.relative.block:nth-of-type(1) h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto.text-balance {
        max-width: 660px !important;
        font-size: 40px !important;
    }
    .flow-root p.p-3 {
        padding: 10px 8px;
        font-size: 13px;
    }
    }
    
    @media(max-width:767px){
        input#productSearch {
            padding-right: 40px;
        }
        section.relative.block:nth-of-type(1) h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto.text-balance {
            max-width: 660px !important;
            font-size: 30px !important;
        }
        h2.text-white.text-5xl.font-mono.text-balance.max-w-4xl.mx-auto , .relative.container.mx-auto.px-4.text-center.text-white.py-16.rounded-3xl>h1.text-white.text-5xl.font-mono.max-w-4xl.mx-auto{
            max-width: 300px;
        font-size: 32px;
        }
        .flow-root p.p-3 {
            padding: 10px 0px;
            width:100% !important;
            display:flex !important;
            max-width:100% !important;
            font-size: 13px;
            line-height:120%;
            justify-content:center;
        }
        .bg-white.rounded-3xl.flex.items-center {
            width: 100%;
        }
        .px-4.sm\:flex.sm\:items-center.sm\:justify-between.sm\:px-6.lg\:px-8.xl\:px-0 {
            gap: 10px !important;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    
        .px-4.sm\:flex.sm\:items-center.sm\:justify-between.sm\:px-6.lg\:px-8.xl\:px-0 button.bg-white {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .px-4.sm\:flex.sm\:items-center.sm\:justify-between.sm\:px-6.lg\:px-8.xl\:px-0 button.bg-white a.link {
            display: block;
            line-height: normal;
        }
    
        .px-4.sm\:flex.sm\:items-center.sm\:justify-between.sm\:px-6.lg\:px-8.xl\:px-0 button.bg-white a.link>span {
            display: none;
        }
        
            section.relative.block:nth-of-type(1) .mt-8.space-x-4 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    
        section.relative.block:nth-of-type(1) .mt-8.space-x-4>a.inline-block {
            margin: 0 !important;
        }
        section.relative.block:nth-of-type(1) .mt-8.flex.justify-center.space-x-4>a {
            margin: 0 !important;
        }
    
    }

    @media only screen and (max-width:575px) {
        #zip-upload-field {
            flex-wrap: wrap;
            gap: 0px;
        }
    }

    @media only screen and (max-width:480px) {
        input#productSearch {
            font-size: 12px;
            max-width: 150px;
            padding-right: 30px;
            display: block;
            margin-left: auto;
        }
    }
